*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.calculator{
    height: 80%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem 0 black;
    background-color: rgba(0, 0, 0, 0.5);
}

.heading{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
    border-radius: 1rem 1rem 0 0;
}

.details{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.amt, .service, .num{
    width: 80%;
    height: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 1.5rem;  
    color: white;  
}

.amt input, .num input, .service select{
    height: 30%;
    width: 100%;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    border: none;
    padding-left: 4%;
}

.btn{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 1rem 1rem;
}

.btn button{
    height: 70%;
    width: 50%;
    font-size: 1.5rem;
    border-radius: 2rem;
    border: none;
}

.output{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    color: white;
}


@media  (max-width: 981px) and (min-width: 669px) {
    .calculator{
        width: 60%;
        height: 90%;
    }
}

@media  (max-width: 670px) and (min-width: 580px) {
    .calculator{
        width: 60%;
        height: 90%;
    }
    .heading{
        font-size: 2rem;
    }
}
@media  (max-width: 580px) and (min-width: 377px) {
    .calculator{
        width: 60%;
        height: 90%;
    }

    .heading{
        font-size: 2rem;
    }

    .amt p, .service p, .num p{
        font-size: 1.3rem;
    }

    .details{
        height: 65%;
    }

    .output{
        height: 15%;
        font-size: 1.5rem;
    }
}
@media  (max-width: 376px){
    .calculator{
        width: 60%;
        height: 90%;
    }
    .heading{
        font-size: 1.5rem;
    }

    .amt p, .service p, .num p{
        font-size: 1.3rem;
    }

    .details{
        height: 70%;
    }

    .output{
        height: 10%;
        font-size: 1.5rem;
    }

    .btn button{
        width: 60%;
    }
}
